name = "DocumenterTypst"
uuid = "d7fd56dd-41bc-4b2d-b658-79a5840b2e09"
authors = ["Gabriel Wu <13583761+lucifer1004@users.noreply.github.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
